body {
    font-family: sans-serif;
    font-size: 0.8em;
}

table {
    border-collapse: collapse;
}
td, th{
    padding: 5px;
    border-bottom: 1px solid lightgray;
    text-align: left;
}
th {
    background-color: #6f92b3;
    border-bottom: 1px solid #a3b0c7;
    color: white;
    text-align:center;
}

table tr:nth-child(even) { background-color: #eefbee; }

caption {
    margin: 10px;
    font-size: 1.2em;
    font-style: italic;
}