/* Jak se zobrazuji textove inputy, ktery slouzi k filtrovani tabulky podle obsahu sloupce */
input.dynamic-table-controls-filter {
    min-width: 30px;             /* minimalni sirka textoveho inputu */
    width: 100%;                 /* takto zadana sirka textoveho inputu se neuplatni, protoze je pro kazdy input nastavena javascriptem automaticky adaptivnim zpusobem (pomoci atributu style), pokud bychom chteli presto tuto sirku nastavit zde v CSS souboru, tak muzeme pouzit !important cimz se prepise sirka nastavena skriptem */
    max-width: 100%;             /* maximalni sirka textoveho inputu */
    background: #c2d6e0;         /* pozadi je defaultne svetle modre */
    border: 1px solid lightgray;
    box-sizing: border-box;
}

/* Jak se zobrazuji sipky, ktere slouzi k razeni tabulky */
a.dynamic-table-controls-sort {
    color: #c2d6e0;         /* barva sipek je defaultne svetle modra */
    text-decoration: none;
}

/* Jak se zobrazuje sipka, ktera slouzi k razeni tabulky a na kterou jsme naposledy klikli */
a.dynamic-table-last-clicked-sort-arrow {
    color: #edff00;         /* barva sipky je defaultne zluta */
}

/* Jak se zobrazuje blokovy element (div), ktery obaluje par sipek (horni a dolni sipku), ktere slouzi k razeni tabulky */
div#dynamic-table-controls-sort-div {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #c2d6e0;
}